.formControl input {
  border: 1px solid rgba(75, 74, 74, 0.8);
  color: #000000;

  font-size: 16px;
  min-width: auto;
  line-height: 1.6;
  padding: 10px;

  margin-bottom: 10px;
}

.formCheckbox {
  display: inline-flex;
  position: relative;
  cursor: pointer;
}

.formRememberMe {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 10px;
}

.formLogin {
  display: inline-block;
  background: #fff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  cursor: pointer;
}

.loginFree {
  margin-top: 30px;
  color: #ff0000;
  font-size: 16px;
}

.loginFree p {
  margin-bottom: 10px;
}

.formControl.error input,
.formControl.error textarea {
  border: 1px solid red;
}

.formControl.error span {
  color: red;
}

.formSummaryError {
  /* груповая ошибка */
  border: red 1px solid;
  padding: 5px;
  color: red;
}
